<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date_of_release %>
    <%= form.text_field :date_of_release %>
  </div>

  <div class="field">
    <%= form.label :songwriter %>
    <%= form.text_field :songwriter %>
  </div>

  <div class="field">
    <%= form.label :melodywriter %>
    <%= form.text_field :melodywriter %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
