<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Date of release:</strong>
  <%= @song.date_of_release %>
</p>

<p>
  <strong>Songwriter:</strong>
  <%= @song.songwriter %>
</p>

<p>
  <strong>Melodywriter:</strong>
  <%= @song.melodywriter %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
