<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concert.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @concert.location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @concert.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @concert.end_time %>
</p>

<p>
  <strong>Ticket price:</strong>
  <%= @concert.ticket_price %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @concert.capacity %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
