<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Bands</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>City</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bands.each do |band| %>
        <tr>
          <td><%= band.name %></td>
          <td><%= band.genre %></td>
          <td><%= City.find(band.city_id).name %></td>
          <td><%= link_to 'Show', band %></td>
          <td><%= link_to 'Edit', edit_band_path(band) %></td>
          <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Band', new_band_path %>
</div>