<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @band.genre %>
</p>

<% if @band.avatar.attached? %>
	<image src="<%= (url_for(@band.avatar)) %>">
<% end %>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
</div>