// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title {
	margin-top: 7%;
}

#welcome_title {
	margin: auto;
}