<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <%= link_to(root_path, :class => 'navbar-brand') do %>
        <h3 id="welcome_title" >Bandera</h3>
    <% end %>


    <button id="navbar_button" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
    
            <li class="nav-item">
              <%= link_to('Bendovi', bands_path, :class => 'nav-link') %>
            </li>

 
            <li class="nav-item">
              <%= link_to 'Glazbenici', members_path, :class => 'nav-link' %>
            </li>

            <% if user_signed_in? %>

              <li class="nav-item">
                <%= link_to t('user.authenticate.logout'), destroy_user_session_path, :method => :delete, :class => 'nav-link'  %>
              </li>

            <% else %>
       
              <li class="nav-item">
                <%= link_to t('user.authenticate.login'), new_user_session_path, :class => 'nav-link'  %>
              </li>

            <% end %>

      </ul>
    </div>
  </div>
</nav>
